<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑用户</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script>
    <script src="../layer/layer.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>


<body>
<div style="width:800px;height:100%;margin-left:270px;">
    <form  th:action="@{'saveApplicant'}" method="post" th:object="${applicant}">
       <input class="form-control" style="display: none" type="text" th:value="*{applicant_info_key!=null}?*{applicant_info_key}:0" name="applicant_info_key"></label><br>
       姓名<input class="form-control" type="text" th:value="*{applicant_name}" name="applicant_name"><br>
        性别<select class="form-control" th:switch="*{applicant_sex}" th:value="*{applicant_sex}" name="applicant_sex">
                <option th:case="男" th:selected="selected" class="form-control" value="男">男</option>
                <option th:case="女" th:selected="selected" class="form-control" value="女">女</option>
            </select><br>
        状态<select class="form-control" th:switch="*{applicant_state}" th:value="*{applicant_state}" name="applicant_state">
            <option th:case="录入" th:selected="selected" class="form-control" value="录入">录入</option>
            <option th:case="待面试" th:selected="selected" class="form-control" value="待面试">待面试</option>
            <option th:case="通过面试" th:selected="selected" class="form-control" value="通过面试">通过面试</option>
        </select><br>
        <br>

        证件类型<select class="form-control" th:switch="*{applicant_identify_type}" th:value="*{applicant_identify_type}" name="applicant_identify_type">
            <option  th:case="居民身份证" th:selected="selected" class="form-control" value="居民身份证">居民身份证</option>
            <option  th:case="护照" th:selected="selected" class="form-control" value="护照">护照</option>
            <option  th:case="其他类型" th:selected="selected" class="form-control" value="其他类型">其他类型</option>
        </select><br>
        证件号<input class="form-control" type="text" th:value="*{applicant_identify_number}" name="applicant_identify_number"><br>
        手机号<input class="form-control" type="text" th:value="*{applicant_phone_number}" name="applicant_phone_number"><br>
        邮箱<input class="form-control" type="text" th:value="*{applicant_e_mail}" name="applicant_e_mail"><br>
        民族<input class="form-control" type="text" th:value="*{applicant_nation}" name="applicant_nation"><br>
        籍贯<input class="form-control" type="text" th:value="*{applicant_native_place}" name="applicant_native_place"><br>
        生日<input class="form-control" type="text" th:value="*{applicant_birthday}" name="applicant_birthday"><br>
        居住地<input class="form-control" type="text" th:value="*{applicant_location}" name="applicant_location"><br>

        学历<select  class="form-control" type="text" th:switch="*{applicant_edu_bgd}"  th:value="*{applicant_edu_bgd}" name="applicant_edu_bgd">
            <option th:case="本科" th:selected="selected" class="form-control" value="本科">本科</option>
            <option th:case="硕士" th:selected="selected" class="form-control" value="硕士">硕士</option>
            <option th:case="博士" th:selected="selected" class="form-control" value="博士">博士</option>
            <option th:case="其他" th:selected="selected" class="form-control" value="其他">其他</option>
        </select><br>

        招聘渠道<select class="form-control" type="text" th:switch="*{applicant_entry_way}" th:value="*{applicant_entry_way}" name="applicant_entry_way">
            <option th:case="校园招聘" th:selected="selected" class="form-control" value="校园招聘">校园招聘</option>
            <option th:case="内部推荐" th:selected="selected" class="form-control" value="内部推荐">内部推荐</option>
            <option th:case="投递简历" th:selected="selected" class="form-control" value="投递简历">投递简历</option>
            <option th:case="其他渠道" th:selected="selected" class="form-control" value="其他渠道">其他渠道</option>
        </select><br>
        毕业学校<input class="form-control" type="text" th:value="*{applicant_edu_school}" name="applicant_edu_school"><br>
        职位意向<select class="form-control" type="text" th:switch="*{applicant_post_intention}" th:value="*{applicant_post_intention}" name="applicant_post_intention">
        <option th:case="销售部" th:selected="selected" class="form-control" >销售部</option>
        <option th:case="产品部" th:selected="selected" class="form-control" >产品部</option>
        <option th:case="人力资源部" th:selected="selected" class="form-control" >人力资源部</option>
        <option th:case="经理" th:selected="selected" class="form-control" >经理</option>
        <option th:case="技术部" th:selected="selected" class="form-control" >技术部</option>
    </select><br>
        <input class="btn btn-primary btn-lg btn-block" type="submit" value="保存">
    </form>
</div>

</body>
</html>
