<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <meta charset="UTF-8">
        <title>加班申请</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="../css/font.css">
        <link rel="stylesheet" href="../css/xadmin.css">
        <script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="../js/xadmin.js"></script>



    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form" action="/tanchuang" method="POST">
                  <div class="layui-form-item">
                      <label class="layui-form-label">

                          <span class="x-red">*</span>序号
                      </label>
                      <div class="layui-input-inline">
                          <input type="text" id="addwork_application_key" name="addwork_application_key"  th:value="${workover.addwork_application_key}" class="layui-input">
                      </div>


                      
                  </div>
                  <div class="layui-form-item">
                      <label  class="layui-form-label">
                          <span class="x-red">*</span>工号
                      </label>
                      <div class="layui-input-inline">
                          <input type="text" id="emp_id"  name="emp_id"  th:value="${workover.emp_id}" class="layui-input">
                      </div>
                      
                  </div>
                  <div class="layui-form-item">
                      <label  class="layui-form-label">
                          <span class="x-red">*</span>所在部门
                      </label>
                      <div class="layui-input-inline">
                          <input type="text" name="dept_id" th:value="${workover.dept_id}" class="layui-input">
                      </div>
                      
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>开始时间
                    </label>
                    <div class="layui-input-inline">
                        <input type="text"  name="emp_app_begin_time"  th:value="${workover.emp_app_begin_time}" class="layui-input" placeholder="2021-1-1 19:00:00">
                    </div>
            
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>结束时间
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_email" name="emp_app_endding_time" th:value="${workover.emp_app_endding_time}" class="layui-input" placeholder="2021-1-1 21:00:00">
                    </div>
            
                </div>
                  
                  <div class="layui-form-item">
                      <label for="L_pass" class="layui-form-label">
                          <span class="x-red">*</span>加班事由
                      </label>
                      <div class="layui-input-inline">
                          <input type="textarea" id="L_pass" name="addwork_content" th:value="${workover.addwork_content}" class="layui-input">
                      </div>
                      
                  </div>
                  
                  <div class="layui-form-item">
                      <label class="layui-form-label">
                      </label>

                      <input type="submit" class="layui-btn" name="submit" value="提交">
                      <button type="reset" class="layui-btn" lay-filter="reset" lay-submit="">
                        重置
                    </button>
                  </div>
              </form>
            </div>
        </div>

    </body>

</html>
